<script type="text/javascript">
var username = 'default';
var devices = [];
$(function () {
    $.get('devices', [], function(response) {
        var devices = response.split("\n");
        var form = '<fieldset>';
        form += '<div class="form-group"><input type="checkbox" class="form-check-input" id="select-all"></div>';
        $.each(devices, function(i,device) {
            if (device) {
                form += '<div class="form-group">';
    			form += '<input type="checkbox" class="form-check-input" name="devices[]" value="'+device+'">';
    			form += device;
    			form += '</div>';
            }
        });
        form += '<button type="submit" class="btn btn-primary">Connect</button>';
        form += '</fieldset>';
        $('#deviceForm').html(form);
        $('#select-all').on('click', function() {
        	$('#deviceForm input:checkbox').prop('checked', this.checked)
        });
    });
    $('#deviceForm').on('submit', function() {
        $.post('devices', $(this).serialize(), function(response){devices=JSON.parse(response);});
        return false;
    });
});
</script>
<h3>Devices</h3>
<form id="deviceForm" class="mt-4"></form>